@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

input, button, form {
    font-family: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bookhouse {
    width: 35%;
    height: 85vh;
    border: 72px solid #8b5e34;
    display: flex;
    flex-direction: column;
    position: relative;
}

#title {
    position: absolute;
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    color: gold;
}

#row1, #row2 {
    height: 47.5%;
    width: 100%;
    background-color: #6f4518;
    box-shadow: inset 0 0 32px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 4px;
    align-items: flex-end;
    padding: 1rem 0 0 0; 
}

#separator {
    height: 5%;
    width: 100%;
    background-color: #583101;
}

.book {
    height: 100%;
    width: 10%;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}


.book > span {
    font-size: 14px;
    writing-mode: sideways-lr;
    font-weight: 500;
}

.book:hover {
    border: 1px solid white;
    transform: scale(1.2);
    transition: all 500ms;
}

#trash {
    width: 20%;
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
}

#trash img {
    width: 80%;
    padding-bottom: 1rem;
}

#formButton {
    width: 25%;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
}

.primary_button {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 1rem 2rem;
    border-radius: 16px;
    transition: all 300ms;
    background-color: transparent;
}

.primary_button:hover {
    background-color: black;
    color: white;
    transition: all 300ms;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form > div {
    display: flex;
    gap: 1rem;
}

form input {
    height: 2rem;
    width: 45%;
}

form select {
    width: 100%;
    height: 2.4rem;
}
